html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.resize {
    width: 110px;
    height: auto;
}
button{
  color: white; 
  background: black;  
}

body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: url("../image/cover.jpg"); /*url("https://source.unsplash.com/5i0GnoTTjSE");*/
  background-position: center;
  background-size: cover; 
 	/* Font Smoothing Below*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #af1a1a;
}

.course-description tr td a:hover {
  color: black !important;
}

nav{
  padding: 8px;
}

.mrt-7 {
  margin-top: 7%;
}

.logo{
  position: absolute;
  float: left;
  padding: 8px;
  margin-left: 16px;
  margin-top: 8px;
}

.logo a{
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0;
  text-decoration: none;
}

.form-container {
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7dcb7;
  padding: 2vw;
  margin-top: 33vh;
}

.form {
  list-style: none;
}

.form li {
  text-align: center;
  padding: 7px;
}

.form li input{
  text-align: center;
  font-size: 15px;
  padding: 7px;
  border: #000;
}

/* Hides the input checkbox field on desktop and mobile */
.hidden{
	display: none;
}

nav ul{
	float: right;
}

nav ul li{
  display: inline-block;
  float: left;
}

nav ul li:not(:first-child) {
  margin-left: 48px;
}

nav ul li:last-child{
  margin-right: 24px;
}

nav ul li a{
  /*This makes LI and the A tag the same dimensions*/
  display: inline-block;
  outline: none;
  color: #000;
  text-decoration: none;
  font-size: 12px;
  letter-spacing:  1.2px;
  font-weight: 600;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #af1a1a;
}

.login {
  cursor: pointer;
  background-color: lightgrey;
  font-size: 15px;
  font-weight: bold;
  width: 21.5vw;
}

.login:hover {
  color: #fff;
  background-color: #000;
}

.logout {
  margin-top: -6%;
  height: 25px; 
  width:80px; 
  border-radius:15%;
  cursor: pointer;
}

.logout:hover {
  color: #af1a1a;
}

/* Basic table setup */
table {
  font: 1rem sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 30%;
}

/* All <td>s within a <table> and all <th>s within a <table>
   Comma is not a combinator, it just allows you to target
   several selectors with the same CSS ruleset */
table td, table th {
  border: 1px solid black;
  padding: 0.5rem 0.5rem 0.4rem;
}

/* All <th>s within <thead>s that are within <table>s */
table thead th {
  color: white;
  background: black;
}

/* All <td>s preceded by another <td>,
   within a <tbody>, within a <table> */
table tbody td + td {
  text-align: center;
}

/* All <td>s that are a last child,
   within a <tbody>, within a <table> */
table tbody td:last-child {
  text-align: center;
}

/* All <td>s preceded by a <th>, within a <table> */
table th + td {
  text-align: center;
  border-top-width: 5px;
  color: white;
  background: black;
}

.active {
  color: #af1a1a;
}

.test-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.test-heading {
  color: white;
  background: black;
  padding: 0.5rem 0.5rem 0.4rem;
  justify-content: center;
  align-items: center;
}

.test-heading h4 {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
}

.test-body, .result-body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.test-with {
  margin-top: .5rem;
}

.result-container {
  border: 1px solid black;
  margin-top: 1.5rem;
}

.button {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background-color: transparent; */
  background-color: black;
  /* border: 1px solid transparent; */
  border: 1px solid black;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.drp {
  color: black;
  background-color: #fff !important;
}

.drp:hover {
  color: #fff;
  background-color: black !important;
}

.width-40 {
  width: 40% !important;
}

.float-right {
  float: right;
}

.cursor-pointer {
  cursor: pointer;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-1_5 {
  margin-left: 1.55rem;
}

.text-center {
  text-align: center;
}

.font-body {
    font-size: 1.25rem;
}

.d-none {
  display: none;
}